# Use public npm registry (prevents corporate Artifactory URLs in lockfiles)
registry=https://registry.npmjs.org/

# @tkhtechinc scope uses GitHub Packages
@tkhtechinc:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
